<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.spr.gh.repos</string>
	<key>connections</key>
	<dict>
		<key>2679D5D4-9D36-4AD4-A1EE-59EACA36C6E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F081992-F765-4192-947C-77DDA1698642</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>333F4BB1-43D4-4D83-8D74-1C09C01C55F5</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>16221475-182D-43BD-BD28-60F572F4334E</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E2D137F6-94DB-4DB7-89D3-7D531A30BADA</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>29037174-DD51-4674-9939-CDF634906876</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4D4E2DAF-A262-445D-8005-346F9BF84111</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Show stargazers</string>
			</dict>
		</array>
		<key>CF38D9DA-CCD2-486F-9E72-586D163A0AE6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EBF461DD-55E7-44A0-81BE-B78A691908DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EBF461DD-55E7-44A0-81BE-B78A691908DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2E7A60B-1972-4D3F-8EF3-31AF6ECE8222</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Shawn Patrick Rice</string>
	<key>description</key>
	<string>Show your github repos!</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Github Repos</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>php action.php "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3F081992-F765-4192-947C-77DDA1698642</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>php action.php "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>333F4BB1-43D4-4D83-8D74-1C09C01C55F5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string># php script-filter.php "{query}"
bash server-scripts/server.sh script-filter.php "{query}"</string>
				<key>title</key>
				<string>GH Repo (Alphred Test)</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2679D5D4-9D36-4AD4-A1EE-59EACA36C6E9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>php action.php "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16221475-182D-43BD-BD28-60F572F4334E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>php action.php "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E2D137F6-94DB-4DB7-89D3-7D531A30BADA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>php action.php "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>29037174-DD51-4674-9939-CDF634906876</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>php action.php "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4D4E2DAF-A262-445D-8005-346F9BF84111</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>test</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>CF38D9DA-CCD2-486F-9E72-586D163A0AE6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># This external trigger is unused for everything but some tests, for the library,
# so just ignore its existence
file="${alfred_workflow_data}/test_external_trigger.txt"
echo {query} &gt; "${file}"
echo "${file}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EBF461DD-55E7-44A0-81BE-B78A691908DA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A2E7A60B-1972-4D3F-8EF3-31AF6ECE8222</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>See also: 
http://www.packal.org
http://www.github.com/shawnrice

Look for support on the Alfred Forums</string>
	<key>uidata</key>
	<dict>
		<key>16221475-182D-43BD-BD28-60F572F4334E</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>2679D5D4-9D36-4AD4-A1EE-59EACA36C6E9</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>29037174-DD51-4674-9939-CDF634906876</key>
		<dict>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>333F4BB1-43D4-4D83-8D74-1C09C01C55F5</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>3F081992-F765-4192-947C-77DDA1698642</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>4D4E2DAF-A262-445D-8005-346F9BF84111</key>
		<dict>
			<key>ypos</key>
			<real>760</real>
		</dict>
		<key>A2E7A60B-1972-4D3F-8EF3-31AF6ECE8222</key>
		<dict>
			<key>ypos</key>
			<real>1020</real>
		</dict>
		<key>CF38D9DA-CCD2-486F-9E72-586D163A0AE6</key>
		<dict>
			<key>ypos</key>
			<real>1020</real>
		</dict>
		<key>E2D137F6-94DB-4DB7-89D3-7D531A30BADA</key>
		<dict>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>EBF461DD-55E7-44A0-81BE-B78A691908DA</key>
		<dict>
			<key>ypos</key>
			<real>1020</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.shawnrice.org</string>
</dict>
</plist>
